body {
  width:950px;
  margin: 20px auto;
  background-color:  #245998;
}

header {
  background-color: #A5ACAF;
}

h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 100px;
  color: #001433;
}

h2 {
  text-align: center;
  font-size: 50px;
  color: #fff;
}

legend, label, p {
  color: #fff;
}


#submit-order {
  border: 50px;
  border-color: #fff;
  background: #4DFF00;
  font-size: 1em;
}

img {
  width: 300px;
}

#sace-needle {

}

div {
  animation-name: slide-right;
  animation-duration: 2s;
}

@keyframes slide-right {

  from {
    margin-left: 0px;
  }

  50% {
    margin-left: 110px;
    opacity: 1;
  }

  50% {
     opacity: 0.9;
  }

  to {
    margin-left: 200px;
  }

}

section img {
  margin-top: 10px;
  width: 1000px;
  height: auto;
}
